fastapi
uvicorn[standard]

python-dotenv
pydantic
SQLAlchemy

psycopg[binary]
bcrypt
passlib
PyJWT
python-multipart
email_validator

python-dateutil
PyYAML
requests
stripe

pdfplumber
pillow
pypdfium2
